/* General styling */
.container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  font-size: 1rem;
}

button i {
  /* font-size: 1.5rem; */
  margin-bottom: 5px;
}

/* Table styling */
.table-responsive-sm {
  overflow-x: auto;
}

.table thead th {
  font-size: 0.875rem;
}

.table tbody td {
  font-size: 0.875rem;
}

/* Responsive design */
@media (max-width: 767.98px) {
  /* Mobile styles */
  .container {
    padding: 10px;
  }

  button {
    padding: 10px;
    font-size: 0.875rem;
  }

  /* button i {
    font-size: 1.25rem;
  } */

  .table thead th,
  .table tbody td {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Tablet styles */
  .container {
    padding: 15px;
  }

  button {
    padding: 15px;
    font-size: 1rem;
  }

  /* button i {
    font-size: 1.5rem;
  } */

  .table thead th,
  .table tbody td {
    font-size: 0.875rem;
  }
}

/* modal css*/

.modal-content.hellooo {
  padding-bottom: 30px !important;
}
/* .modaldiv {
  margin-top: 100px !important;
} */

@media (main-width: 320px) and (max-width: 900px) {
  .modaldiv {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/*overlay loader*/
.loader-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.loader-overlayyy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensures it appears over the image */
  background: rgba(255, 255, 255, 0.5); /* Optional: Adds slight background for visibility */
  border-radius: 50%; /* Keeps it inside circular images */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensures it covers the image */
  height: 100%;
}
